.agencias{
    padding: 20px 100px;
}
.agencias .agencia-title{
    display: flex;
    gap: 40px;
    font-size: 1.6em;
    align-items: center;
    color: #CF1684;
    margin: 50px 0;
}
.agencia-title__text{
    font-size: 1.8em;
}
.agencia-title__text .size{
    display: block;
    font-size: 2em;
}
.agencia-selector{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 0;
    margin-bottom: 50px;
}
.agencia-selector .selector-title{
    color: #CF1684;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.selector-options{
    width: 80%;
    padding: 10px 20px;
    border-radius: 8px;
    background: #517393;
    color: white;
}
.agencia-selector-send{
    margin: auto;
}

.agencia-info{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    background: white;
    padding: 40px;
}
.info-location-direction{
    text-transform: uppercase;
}
.direction__location .size{
    color: red;
    display: block;
    font-weight: bold;
    font-size: 1.5em;
}
.direction__ubication{
    margin: 10px 0px;
}
.info-location{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px 0px;
}
.info-location-options{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: red;
    font-weight: bold;
    text-align: center;
}
.location-options__icon{
    padding: 10px;
    border-radius: 50%;
    border: 1px solid red;
    font-size: 15px;
    width: 15px;
}
.location-options__text{
    display: block;
    margin: 10px 0px;
}
.moreinfo-op{
    display: flex;
    align-items: center;
}
.moreinfo-op__icon{
    padding: 5px;
    width: 30px;
    font-size: 25px;
}
.moreinfo-op__text{
    padding-left: 15px;
}