.blog{
    padding: 50px 100px;
    max-inline-size: 1555px;
    margin: auto;
}
.blog__title{
    color: #CF1684;
    font-size: 3em;
    margin-bottom: 40px;
}
.blog__content{
    background: #fafafa;
    border-radius: 20px;
    padding: 34px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.sidebar{
    background:#f4f4f4;
    border-radius: 20px;
    padding: 10px;
    min-width: 200px;
    height: min-content;
}
.dates__title, .categories__title{
    color: gray;
    margin: 10px 0px;
}
.dates__option, .categories__option{
    margin: 10px 0;
    color: gray;
}
.news{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.news__card{
    background: white;
    padding: 20px;
}
.card__img >*{
    width: 100%;
    height: 150px;
}
.card__categorie{
    text-transform: uppercase;
    color: blue;
}
.card__categorie .date{
    color: gray;
}
.card__title{
    color: black;
    text-transform: uppercase;
}
.card__text{
    color: gray;
}
.option__text:hover{
    text-decoration:underline;
}