.lp__titulo{
    font-size: 60px;
    color: #CF1684;
    line-height: 70px;
    margin-bottom: 30px;
    padding: 0px 190px;
}
.lp-section{
    padding: 0px 190px;
    margin-bottom: 180px;
}
.lp-doc{
    background: rgba(106, 94, 94, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    text-align: center;
    padding: 10px 30px;
}
.lp-arch{
    width: 100%;
}
.lp__boton{
    text-align: end;
    margin: 30px 0px;
}
.lp__download{
    color: #D5FF2E;
    font-size: 25px;
    line-height: 29px;
    width: 250px;
    height: 54px;
    background: #373737;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 62px;
}