:root{
    --light_pink: #EA028C;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}
body::before{
    position: absolute;
    content: '';
    background:linear-gradient(180deg, #06AFF0 0%, rgba(255, 255, 255, 0) 146.91%);
    width: 100%;
    height: 100vh;
    z-index: -1;
}
a{text-decoration: none}
li{list-style: none}
button{
    border: none;
    outline: inherit;
    cursor: pointer;
}
.button1{
    color: #4A83F0;
    border-radius: 60px;
    width: 260px;
    height: 55px;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
}
.button1:hover{
    background-color: var(--light_pink);
    color: white;
    transition: .3s;
}
/*header*/
.header{
    display: grid;
    padding: 60px 70px;
    padding-bottom: 20px;
    grid-template-columns: 1fr 2fr auto;
    gap: 20px;
    font-weight: bold;
    font-size: 1.5em;
}
.header-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-navigation__option >*{
    color: white;
}
.header-navigation__option:hover >*{
    color: red;
}
.header-social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.header-social__item{
    display: flex;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #0C98CE;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}
.header-social__item:hover{
    background: var(--light_pink);
}
/*Main info*/
.main-info{
    position: relative;
    display: flex;
    height: 80vh;
    background-image: url(/images/pink\ vector-top.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    align-items: center;
}
.main-info-content{
    position: relative;
    padding: 20px 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 35%;
    z-index: 100;
    color: white;
    gap: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-info-content__title{
    font-size: 2em
}
.main-info-content__title .pink{
    color: var(--light_pink);
}
.main-info::before{
    position: absolute;
    content: '';
    background-image: url(/images/city\ background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.main-info::after{
    position: absolute;
    content: '';
    background-image: url(/images/motorcycle.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 30%;
    width: 100%;
    height: 100%;
}
/*Cards info*/
.card-info{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 100px 100px;
    padding-bottom: 70px;
    gap: 20px;
    background-image: url(/images/pink\ vector-down.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    top: -1px;
}
.card{
    position: relative;
    display: grid;
    grid-template-rows: 2fr 1fr;
    text-align: center;
    border-radius: 35px;
    box-shadow: 8px 6px 4px 2px rgba(0, 0, 0, 0.25);
    width: 190px;
    height: 190px;
    background-color:white;
    border: 1px solid #BDBDBD;
    color: var(--light_pink);
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px;
}
.card__icon{
    font-size: 50px;
    margin: auto;
}
/* para poner las lineas azules
.card-info::before{
    position: absolute;
    content: '';
    background-image: url(/images/pink\ vector-down.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    width: 100%;
    height: 100%;
    top: -1px;
}*/
/*Make shipments*/
.make-shipments{
    padding: 20px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.make-shipments::before{
    position: absolute;
    content: '';
    background-image: url(/images/blue\ vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.make-shipments__img{
    position: relative;
    width: 490px;
    height: 390px;
}
.make-shipments-info__title{
    font-size: 1.6em;
}
.make-shipments-info__text{
    padding-bottom: 50px;
    display: block;
}
.make-shipments-info{
    position: relative;
    color: white;
    font-size: 1.5em;
}
/*steps*/
.steps{
    padding: 60px 120px;
    text-align: center;
    gap: 40px;
    color: #0F8ABA;
    font-size: 1.2em;
}
.steps__img{
    width: 100%;
    height: 190px;
}
/*tutorial*/
.tutorial{
    background: #00AEED;
    gap: 40px;
    color: white;
    padding: 10px;
}
.tutorial-content{
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.35);
    background-image: url(../images/DiscordLogos.svg);
    border-radius: 24px;
    background-size: cover;
}
.tutorial-info{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.2em;
}
.tutorial-info__title{
    text-transform: uppercase
}
.tutorial-info__text{
    display: block;
    color: #55E0FF;
}
/*Data apaiky*/
.data-apaiky{
    color: var(--light_pink);
    text-align: center;
    background: linear-gradient(0deg, rgba(2,0,36,0) 67%, rgba(0,212,255,0.19091386554621848) 100%);
}
.data-apaiky-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding-top: 60px;
    padding-inline: 120px;
}
.data-card__info{
    display: block;
    font-weight: bold;
}
.data-card__info .size{
    display: block;
    font-size: 1.5em;
}
.data-apaiky-img{
    width: 100%;
    height: 100%;
}
.appWhatsapp{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 26px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    padding: 1px;
    z-index: 1000;
    background: rgb(25, 206, 25);
    border-radius: 50%;
}
.appWhatsapp__icon{
    color: white;
    font-size: 3em;
}
/*footer*/
.footer{
    padding: 30px 250px;
    background-color: #2B4965;
    text-align: center;
}
.footer-form{
    display: grid;
    grid-template-columns: 3fr auto;
    gap: 20px;
    margin: 40px 0px;
    font-size: 2em;
}
.footer-form__input{
    padding-left: 15px;
    font-size: .7em;
    background-color: #517393;
    border: none;
    color: white;
    font-weight: bold;
}
.footer-form__input::placeholder{
    color: #859DB3
}
.footer-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.footer-info-content{
    display: flex;
    font-size: 1.5em;
    align-items: center;
    color: #AAB6C1;
    gap: 15px;
}
.footer-info-content__text{
    color: #AAB6C1
}
.footer-info-content__text:hover{
    color: #06AFF0
}
.footer-redirect{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-transform: uppercase;
    font-size: .8em;
    margin-bottom: 20px;
}
.footer-redirect__option .option__text{
    color: #AAB6C1;
}
.footer-redirect__option .option__text:hover{
    color: #06AFF0;
}
.policity-privacity{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.policity-privacity__option{
    padding: 0px 20px;
}
.policity-privacity__option .option__text{
    color: #AAB6C1
}
.policity-privacity__option .option__text:hover{
    color: #06AFF0
}
.copyright{
    color: white;
    padding: 10px 0;
    font-size: .7em;
}
/* RESPONSIVE */
@media screen and (max-width: 1200px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 480px){
    
}
@media screen and (max-width: 320px){
    
}